/* What it does: Remove spaces around the email design added by some email clients. */
/* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
html,
body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background: #FFFFFF;
}

/* What it does: Stops email clients resizing small text. */
* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* What it does: Centers email on Android 4.4 */
div[style*="margin: 16px 0"] {
    margin: 0 !important;
}

/* What it does: Stops Outlook from adding extra spacing to tables. */
table,
td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
}

/* What it does: Fixes webkit padding issue. */
table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    margin: 0 auto !important;
}

/* What it does: Uses a better rendering method when resizing images in IE. */
img {
    -ms-interpolation-mode:bicubic;
}

/* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
a {
    text-decoration: none;
}

/* What it does: A work-around for email clients meddling in triggered links. */
*[x-apple-data-detectors],  /* iOS */
.unstyle-auto-detected-links *,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
.a6S {
    display: none !important;
    opacity: 0.01 !important;
}

/* What it does: Prevents Gmail from changing the text color in conversation threads. */
.im {
    color: inherit !important;
}

/* If the above doesn't work, add a .g-img class to any image in question. */
img.g-img + div {
    display: none !important;
}

/* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
/* Create one of these media queries for each additional viewport size you'd like to fix */

/* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    u ~ div .email-container {
        min-width: 320px !important;
    }
}
/* iPhone 6, 6S, 7, 8, and X */
@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    u ~ div .email-container {
        min-width: 375px !important;
    }
}
/* iPhone 6+, 7+, and 8+ */
@media only screen and (min-device-width: 414px) {
    u ~ div .email-container {
        min-width: 414px !important;
    }
}

.primary{
    background: #436A62;
}
.bg_white{
    background: #ffffff;
}
.bg_light{
    background: #fafafa;
}
.bg_black{
    background: #000000;
}
.bg_red {
    background: #D70F2A;
}
.bg_grey {
    background: rgb(249, 249, 249);
}

.email-section{
    padding:2.5em;
}

/*BUTTON*/
.btn{
    padding: 5px 15px;
    display: inline-block;
}
.btn.btn-primary{
    margin-top: 20px;
    border-radius: 0;
    background: #D70F2A;
    color: #ffffff;
}
.btn.btn-white{
    border-radius: 0;
    background: #ffffff;
    color: #000000;
}
.btn.btn-white-outline{
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-weight: normal;
    color: rgba(31, 31, 31, .9);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(31, 31, 31,.5);
}

a{
    color: #D70F2A;
}

table{
}

.navigation{
    padding: 0;
}
.navigation li{
    list-style: none;
    display: inline-block;;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
}
.navigation li a{
    color: rgba(0,0,0,.4);
}

/*HERO*/
.hero{
    position: relative;
    z-index: 0;
}

.hero .text{
    color: rgba(31, 31, 31,.9);
}
.hero .text h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.3;
    /*text-transform: uppercase;*/
}
.hero .text .icon{
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}


/*HEADING SECTION*/
.heading-section{
}
.heading-section h2{
    color: rgba(31, 31, 31,.9);
    font-size: 28px;
    margin-top: 0;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading-section .subheading{
    margin-bottom: 50px !important;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(31, 31, 31,.9);
    position: relative;
}
.heading-section .subheading::after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    content: '';
    width: 100%;
    height: 2px;
    background: #D70F2A;
    margin: 0 auto;
}
.heading-section .subheading::before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    content: '';
    width: 70%;
    height: 2px;
    background: #D70F2A;
    margin: 0 auto;
}

.heading-section-white{
    color: rgba(255,255,255,.8);
}
.heading-section-white h2{
    line-height: 1.3;
    padding-bottom: 0;
}
.heading-section-white h2{
    color: #ffffff;
}
.heading-section-white .subheading{
    margin-bottom: 0;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255,255,255,.4);
}

/*FOOTER*/

.footer{
    color: rgba(31,31,31,.75);
    font-size: 12px;
}
.footer.email-section {
    padding: 0 2.5em;
}
.footer .heading{
    color: #1e1e1e;
    font-size: 20px;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer ul li a{
    color: rgba(31,31,31,1);
}
@media screen and (max-width: 500px) {

}


.epp, .epp * {
    color: #1e1e1e !important;
    text-align: left !important;
}